*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgba(165, 165, 165, 0.575);
}

h1{
  text-align: center;
}

.container{
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(3, 2fr);
  row-gap: 2rem;
}

table{
  border-collapse: collapse;
  background: rgb(38, 90, 133);
  color: white;
  text-align: center;
  justify-content: center;
  border: 1px white solid;
}

td, tr{
  border: 1px white solid;
  padding: 1rem;
}

footer{
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}